include versioneer.py
include src/teamvolik/_version.py
include test/**
include pyproject.toml
include .bandit
include .coveragerc
include LICENSE
include MANIFEST.in
include requirements.txt
include setup.cfg
include setup.py
include README.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include .gitignore
include .github/**
include .git-hooks/**
include .gitattributes
